<mat-toolbar color="primary">
    <div>
        <span>{{title}}</span>
        <!--<span [textContent]="title"></span>-->
        <a routerLink="/home" mat-button>
            <mat-icon>home</mat-icon>
            Accueil
        </a>

        <a [routerLink]="['/donneurs/liste']" mat-button>
            <mat-icon>accessibility</mat-icon>
            Donneur
        </a>

        <a routerLink="/donneurs/ajouter" mat-button>
            <mat-icon>add</mat-icon>
            Ajouter donneur
        </a>

        <ng-container *ngIf="user == null; else logout">
            <a routerLink="/auth/login" mat-button>
                <mat-icon>locked_in</mat-icon>
                Connexion
            </a>
        </ng-container>
        <ng-template #logout>
            Bonjour {{user?.email}}
            <button mat-button type="button" (click)="onLogout()">
                <mat-icon>locked_out</mat-icon>Se déconnecter
            </button>
        </ng-template>

    </div>
</mat-toolbar>

<router-outlet></router-outlet>


<app-footer></app-footer>