<mat-toolbar color="primary">
    <div>
        <span>{{title}}</span>
        <!--<span [textContent]="title"></span>-->
        <a href="" mat-button>
            <mat-icon>home</mat-icon>
            Accueil
        </a>

        <a href="" mat-button>
            <mat-icon>accessibility</mat-icon>
            Donneur
        </a>

        <a href="" mat-button>
            <mat-icon>add</mat-icon>
            Ajouter donneur
        </a>

        <a href="" mat-button>
            <mat-icon>locked_in</mat-icon>
            Connexion
        </a>

    </div>
</mat-toolbar>


<app-footer></app-footer>